.wrapper {
  width: calc(100vw - 50px);
  height: calc(100vh - 200px);
  margin: 25px;
  border-radius: 3px;
  border: 1px solid #000;
  // filter: url("#goo");
}

.stage {
  height: 100%;
  width: 100%;
  // filter: url("#displacementFilter");
}

